gridcapa-core-cc-post-processing-app/src/main/xsd/F302-RaoRequest/request-payload-02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://unicorn.com/Request/request-payload" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:req="http://unicorn.com/Request/request-payload" elementFormDefault="qualified">
  <xs:element name="RequestItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="RequestItem" type="req:RequestItem" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="timeInterval" use="required" type="req:TimeIntervalType" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="RequestItem">
    <xs:sequence>
      <xs:element name="Files" type="req:Files" minOccurs="0"/>
      <xs:element name="Parameters" type="req:Parameters" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="timeInterval" use="required" type="req:TimeIntervalType" />
  </xs:complexType>
  <xs:simpleType name="TimeIntervalType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Files">
    <xs:sequence>
      <xs:element name="File" type="req:File" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:sequence/>
    <xs:attribute name="code" use="required" type="xs:string"/>
    <xs:attribute name="url" use="required" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="ParameterGroup">
    <xs:sequence>
      <xs:element name="Parameter" type="req:Parameter" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" use="required" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Parameter">
    <xs:sequence/>
    <xs:attribute name="eic" type="xs:string"/>
    <xs:attribute name="key" use="required" type="xs:string"/>
    <xs:attribute name="value" use="required" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Borders">
    <xs:sequence>
      <xs:element name="Border" type="req:Border" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Border">
    <xs:sequence/>
    <xs:attribute name="eic1" use="required" type="xs:string"/>
    <xs:attribute name="eic2" use="required" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="Parameters">
    <xs:sequence>
      <xs:element name="ParameterGroup" type="req:ParameterGroup" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Borders" type="req:Borders" minOccurs="0"/>
      <xs:element name="ParallelPSTSets" type="req:ParallelPSTSets" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParallelPSTSets">
    <xs:sequence>
      <xs:element name="ParallelPSTSet" type="req:ParallelPSTSet" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParallelPSTSet">
    <xs:sequence>
      <xs:element name="PST" type="req:PST" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PST">
    <xs:sequence/>
    <xs:attribute name="mRID" use="required" type="xs:string"/>
  </xs:complexType>
</xs:schema>
