gridcapa-core-cc-post-processing-app/src/main/xsd/CgmHeaderInput/response-payload_02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://unicorn.com/Response/response-payload" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:resp="http://unicorn.com/Response/response-payload" elementFormDefault="qualified">
  <xs:element name="ResponseItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ResponseItem" type="resp:ResponseItem" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute name="timeInterval" use="required" type="resp:TimeIntervalType" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ResponseItem">
    <xs:sequence>
      <xs:element name="Error" type="resp:ErrorType" minOccurs="0"/>
      <xs:element name="Files" type="resp:Files" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="timeInterval" use="required" type="resp:TimeIntervalType" />
  </xs:complexType>
  <xs:simpleType name="TimeIntervalType">
    <xs:restriction base="xs:string">
      <xs:pattern value="(((((20[0-9]{2})[\-](0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z/))(((([0-9]{4})-(0[13578]|1[02])[\-](0[1-9]|[12][0-9]|3[01])|([0-9]{4})[\-]((0[469])|(11))[\-](0[1-9]|[12][0-9]|30))T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][048]|[13579][01345789](0)[48]|[13579][01345789][2468][048]|[02468][048][02468][048]|[02468][1235679](0)[48]|[02468][1235679][2468][048]|[0-9][0-9][13579][26])[\-](02)[\-](0[1-9]|1[0-9]|2[0-9])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)|(([13579][26][02468][1235679]|[13579][01345789](0)[01235679]|[13579][01345789][2468][1235679]|[02468][048][02468][1235679]|[02468][1235679](0)[01235679]|[02468][1235679][2468][1235679]|[0-9][0-9][13579][01345789])[\-](02)[\-](0[1-9]|1[0-9]|2[0-8])T(([01][0-9]|2[0-3]):[0-5][0-9])Z)))"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ErrorType">
    <xs:sequence>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Level" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="INFORM"/>
            <xs:enumeration value="WARNING"/>
            <xs:enumeration value="FATAL"/>
            <xs:enumeration value="CATASTROPHIC"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Reason" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Files">
    <xs:sequence>
      <xs:element name="File" type="resp:File" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="File">
    <xs:sequence/>
    <xs:attribute name="code" use="required" type="xs:string"/>
    <xs:attribute name="url" use="required" type="xs:string"/>
  </xs:complexType>
</xs:schema>
